<main class="main">
  <header class="main-header">
    <h1 class="main-heading">Animal List</h1>
  </header>
  <section class="animal-table-container">
    <table>
      <thead>
        <tr class="table-heading">
          <th>rare animals</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animalInfos">
          <td>{{ animal.type }}</td>
          <td>{{ animal.count }}</td>
          <td>
            <a
              href="http://google.com/search?q={{
                animal.type.replace(' ', '')
              }}"
              target="_blank"
              rel="noopener noreferrer"
              >Search</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<router-outlet />
